@keyframes easeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.spinnerWrapper {
  margin: auto;
  transition: 250ms;
  position: relative;
  animation: easeIn 0.5s ease-in;
}

.spinnerMessage {
  color: white;
  font-family: 'Dancing Script', cursive;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  font-size: 3rem;
  position: absolute;
  top: 60px;
  left: -35px;
}

.loaderDots {
  position: relative;

  & div {
    position: absolute;
    top: 33px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: white;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.3);

    &:nth-child(1) {
      left: 8px;
      animation: loader-dots1 0.6s infinite;
    }
    &:nth-child(2) {
      left: 8px;
      animation: loader-dots2 0.6s infinite;
    }
    &:nth-child(3) {
      left: 32px;
      animation: loader-dots2 0.6s infinite;
    }
    &:nth-child(4) {
      left: 56px;
      animation: loader-dots3 0.6s infinite;
      box-shadow: none;
    }
  }
}

@keyframes loader-dots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes loader-dots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes loader-dots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
